<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:p="http://www.springframework.org/schema/p"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd">

 <bean name="emp1" class="com.examples.Springcore.Employee">
  	<property name="id">
  		<value>01</value>
  	</property>
  	<property name="name">
  		<value>Jhon</value>
  	</property>
 </bean>
 
 <bean name="emp2" class="com.examples.Springcore.Employee">
 	<property name="id" value="02"/>
 	<property name="name" value="Max"/>
 </bean>

<bean name="emp3" class="com.examples.Springcore.Employee" p:id="3" p:name="Kevin" />
	

<bean name="emp4" class="com.examples.Springcore.Employee" p:id="4" p:name="Smith">
	<property name="departments">
		<list>
			<value>HR</value>
			<value>Admin</value>
			<value>Sales</value>
		</list>
	</property>
</bean>

<bean name="emp5" class="com.examples.Springcore.Employee" p:id="5" p:name="Amy">
	<property name="products">
		<map>
			<entry key="100" value="Laptop"></entry>
			<entry key="200" value="Phone"></entry>
			<entry key="300" value="Tv"></entry>
		</map>
	</property>
</bean>

<bean name="emp6" class="com.examples.Springcore.Employee" p:id="6" p:name="Jonathan">
	<property name="countriesLanguages">
		<props>
			<prop key="USA">English</prop>
			<prop key="Canada">French</prop>
			<prop key="Germany">German</prop>
		</props>
	</property>
</bean>

<bean name="address1" class="com.examples.Springcore.Address" p:city="Chennai" p:state="TN" p:pincode="600522"/>

<bean name="emp7" class="com.examples.Springcore.Employee" p:id="7" p:name="Michael">
	<property name="address">
		<ref bean="address1"/>
	</property>
</bean>

<bean name="bank" class="com.examples.Springcore.Bank" p:name="ICICI" scope="prototype"></bean>
	
</beans>